@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Master.cshtml";
    var pageNode = Model.Content;
    var aboutPic = pageNode.GetPropertyValue<IPublishedContent>("pageImage");
    var aboutPicUrl = "~/images/placeholders/placeholder-vertical.jpg";

    if(aboutPic != null)
    {
        aboutPicUrl = aboutPic.Url;
    }
}
<div id="about">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                <div id="infowrap">
                    <div id="headerLogosContainer">
                        <div class="headerLogo">
                            <p class="headerLogoTitle">@(Umbraco.Field("#nutritionMonth"))</p>
                            @Html.Partial("~/Views/Partials/dieticianSvg.cshtml")
                        </div>
                        <div class="headerLogo">
                            <p class="headerLogoTitle">@(Umbraco.Field("#sponsor"))</p>
                            @Html.Partial("~/Views/Partials/dfcSvg.cshtml")
                        </div>
                    </div>
                    <div class="textContent">
                        <h2 class="title">@(pageNode.GetPropertyValue<string>("subtitle"))</h2>
                        @*<h1 class="title">@(pageNode.GetPropertyValue<string>("pageTitle"))</h1>*@
                        <div class="rte">@(pageNode.GetPropertyValue<HtmlString>("pageText"))</div>
                    </div>
                </div>
			</div>
			<div class="col-12 col-lg-6 col-xl-4 offset-xl-1">
                <div class="imgWrap">
                    <img id="aboutImg" src="@aboutPicUrl" />
                </div>
			</div>
		</div>
	</div>
</div>