@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Master.cshtml";
    var pageNode = Model.Content;

    var counter = 1;
    var nutritionFacts = pageNode.Children.Where(x => x.DocumentTypeAlias.ToLower() == "nutritionfactslisting").FirstOrDefault();
    var nutritionFactsUrl = "";

    if(nutritionFacts != null)
    {
        nutritionFactsUrl = nutritionFacts.Url;
    }

    var selectedFact = pageNode.GetPropertyValue<IPublishedContent>("selectedFact");
    var selectedFactUrl = "";

    if (selectedFact != null)
    {
        selectedFactUrl = selectedFact.Url;
    }

    var profiles = pageNode.Descendants().Where(x => x.DocumentTypeAlias.ToLower() == "profile");
}
<section id="landingNode">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <div class="grid-container">

                    @foreach (var profile in profiles)
                    {

                        var profilePic = profile.GetPropertyValue<IPublishedContent>("listingImage");
                        var profilePicUrl = "/images/placeholders/placeholder-vertical.jpg";

                        if (profilePic != null)
                        {
                            profilePicUrl = profilePic.Url;
                        }

                        <div id="profile-@counter" class="grid-item profileContainer">
                            <a href="@(profile.Url)" target="_self" class="profileTitle findImgTxt triggerGlobalArrow">
                                <div class="info">
                                    <p class="findImgTxtTitle">@Html.Raw(profile.GetPropertyValue<string>("pageTitle"))</p>
                                    <p class="globalCta">@(Umbraco.Field("#learnMore"))<span class="globalCtaArrow"><svg xmlns="http://www.w3.org/2000/svg" width="21.715" height="12" viewBox="0 0 21.715 12"><path class="globalCtaArrowStyle" d="M504.7,357.685c0-.015-.009-.029-.013-.044a.464.464,0,0,0-.016-.052.488.488,0,0,0-.026-.049c-.007-.013-.013-.027-.021-.04a.529.529,0,0,0-.065-.079l-5.483-5.483a.517.517,0,1,0-.731.731l4.6,4.6H483.51a.517.517,0,0,0,0,1.034h19.434l-4.6,4.6a.517.517,0,1,0,.731.731l5.483-5.483a.53.53,0,0,0,.065-.079c.009-.013.014-.026.021-.04a.491.491,0,0,0,.026-.049.466.466,0,0,0,.016-.052c0-.015.01-.029.013-.044A.514.514,0,0,0,504.7,357.685Z" transform="translate(-482.993 -351.786)" /></svg></span></p>
                                </div>
                                <div class="findRImg imgContainer" style="background: url(@profilePicUrl); background-size:cover; background-position:center center; background-repeat:no-repeat;">
                                    <img class="posterImg" src="@profilePicUrl" />
                                </div>
                            </a>
                            
                        </div>

                        counter++;
                    }
                </div>
            </div>
        </div>
        <div class="row findRSection">
            <div class="col-sm-10 offset-sm-1 col-lg-5 offset-lg-1 col-xl-5 offset-xl-1">
                <div class="findRecipesContent">
                    <p class="findRTitle">@(pageNode.GetPropertyValue<string>("nutritionBlockTitle"))</p>
                    <div class="findRText">@(pageNode.GetPropertyValue<HtmlString>("nutritionBlockIntro"))</div>
                    <a href="@nutritionFactsUrl" target="_blank" class="findRCta globalCta">@(Umbraco.Field("#CheckAllProfiles")) <span class="findRCtaArrow globalCtaArrow"><svg xmlns="http://www.w3.org/2000/svg" width="21.715" height="12" viewBox="0 0 21.715 12"><path class="findRCtaArrowStyle globalCtaArrowStyle" d="M504.7,357.685c0-.015-.009-.029-.013-.044a.464.464,0,0,0-.016-.052.488.488,0,0,0-.026-.049c-.007-.013-.013-.027-.021-.04a.529.529,0,0,0-.065-.079l-5.483-5.483a.517.517,0,1,0-.731.731l4.6,4.6H483.51a.517.517,0,0,0,0,1.034h19.434l-4.6,4.6a.517.517,0,1,0,.731.731l5.483-5.483a.53.53,0,0,0,.065-.079c.009-.013.014-.026.021-.04a.491.491,0,0,0,.026-.049.466.466,0,0,0,.016-.052c0-.015.01-.029.013-.044A.514.514,0,0,0,504.7,357.685Z" transform="translate(-482.993 -351.786)" /></svg></span></a>
                </div>
            </div>
            <div class="col-sm-10 offset-sm-1 col-lg-5 offset-lg-0 col-xl-5 offset-xl-0">
                @if (selectedFact != null)
                {
                    var factPic = selectedFact.GetPropertyValue<IPublishedContent>("bannerImage");
                    var factPicUrl = "/images/placeholders/placeholder-vertical.jpg";

                    if (factPic != null)
                    {
                        factPicUrl = factPic.Url;
                    }

                    @*<div class="finRImgContainer">
                        <a href="@selectedFactUrl" target="_self" class="findImgTxt triggerGlobalArrow">
                            <p class="findImgTxtTitle">@(selectedFact.GetPropertyValue<string>("pageTitle"))</p>
                            <p class="globalCta">@(Umbraco.Field("#learnMore"))<span class="globalCtaArrow"><svg xmlns="http://www.w3.org/2000/svg" width="21.715" height="12" viewBox="0 0 21.715 12"><path class="globalCtaArrowStyle" d="M504.7,357.685c0-.015-.009-.029-.013-.044a.464.464,0,0,0-.016-.052.488.488,0,0,0-.026-.049c-.007-.013-.013-.027-.021-.04a.529.529,0,0,0-.065-.079l-5.483-5.483a.517.517,0,1,0-.731.731l4.6,4.6H483.51a.517.517,0,0,0,0,1.034h19.434l-4.6,4.6a.517.517,0,1,0,.731.731l5.483-5.483a.53.53,0,0,0,.065-.079c.009-.013.014-.026.021-.04a.491.491,0,0,0,.026-.049.466.466,0,0,0,.016-.052c0-.015.01-.029.013-.044A.514.514,0,0,0,504.7,357.685Z" transform="translate(-482.993 -351.786)" /></svg></span></p>
                        </a>
                        <div class="findRImg" style="background: url(@factPicUrl); background-size:cover; background-position:center center; background-repeat:no-repeat;"></div>
                    </div>*@

                    <a href="@selectedFactUrl" target="_self" class="cardClickable triggerGlobalArrow">
                        <div class="cardContainer">
                            <div class="cardContent">
                                <p class="cardTitle">@(selectedFact.GetPropertyValue<string>("pageTitle"))</p>
                                <div class="cardTags"></div>
                                <p class="cardCta globalCta">@(Umbraco.Field("#learnMore")) <span class="cardCtaArrow globalCtaArrow"><svg xmlns="http://www.w3.org/2000/svg" width="21.715" height="12" viewBox="0 0 21.715 12"><path class="cardCtaArrowStyle globalCtaArrowStyle" d="M504.7,357.685c0-.015-.009-.029-.013-.044a.464.464,0,0,0-.016-.052.488.488,0,0,0-.026-.049c-.007-.013-.013-.027-.021-.04a.529.529,0,0,0-.065-.079l-5.483-5.483a.517.517,0,1,0-.731.731l4.6,4.6H483.51a.517.517,0,0,0,0,1.034h19.434l-4.6,4.6a.517.517,0,1,0,.731.731l5.483-5.483a.53.53,0,0,0,.065-.079c.009-.013.014-.026.021-.04a.491.491,0,0,0,.026-.049.466.466,0,0,0,.016-.052c0-.015.01-.029.013-.044A.514.514,0,0,0,504.7,357.685Z" transform="translate(-482.993 -351.786)" /></svg></span></p>
                            </div>
                            <div class="cardImgContainer">
                                <div class="cardImg" style="background: url(@factPicUrl); background-size:cover; background-position:center center; background-repeat:no-repeat;"></div>
                            </div>
                        </div>
                    </a>
                }

            </div>
        </div>
    </div>
</section>