@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "_Master.cshtml";
    var pageNode = Model.Content;

    var pageTitle = pageNode.GetPropertyValue<string>("pageSubtitle");
    var pageIntro = pageNode.GetPropertyValue<HtmlString>("introText");
    var resourcesListing = pageNode.GetPropertyValue<IEnumerable<IPublishedContent>>("resourcesListing");
}
<div id="resources">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-10 col-md-8 offset-md-1 col-lg-7 offset-lg-1">
                @if (!pageTitle.IsNullOrWhiteSpace())
                {
                    <h1 class="title">@pageTitle</h1>
                }
                @if (!pageIntro.ToString().IsNullOrWhiteSpace())
                {
                    <div class="rte">@pageIntro</div>
                }
            </div>
        </div>
    </div>

    @if (resourcesListing != null && resourcesListing.Any())
    {

        <div class="resourcesListingBg">
            <div class="container-fluid">
                <div class="row resourcesListingRow">
                    <div class="col-12 col-md-10 offset-md-1 resourcesListingCol">
                        @foreach (var resource in resourcesListing)
                        {

                            var imageUrl = "";
                            var image = resource.GetPropertyValue<IPublishedContent>("image");
                            if (image != null)
                            {
                                imageUrl = image.Url();
                            }
                            var title = resource.GetPropertyValue<string>("titre");
                            var pdf = resource.GetPropertyValue<IPublishedContent>("pdf");
                            var pdfUrl = "";
                            if (pdf != null) {
                                pdfUrl = pdf.Url;
                            }
                            if (!pdfUrl.IsNullOrWhiteSpace() && !title.IsNullOrWhiteSpace() && !imageUrl.IsNullOrWhiteSpace()) { 
                            
                            <div class=" finRImgContainer">
                                <a href="@pdfUrl" target="_blank" class="findImgTxt triggerGlobalArrow">
                                    <p class="findImgTxtTitle">@title</p>
                                    @if (!pdfUrl.IsNullOrWhiteSpace()) { 
                                <p class="globalDownloadCta">
                                    @Umbraco.GetDictionaryValue("DownloadPdf")<span class="globalCtaArrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16.81" viewBox="0 0 12 16.81">
                                            <g transform="translate(-157.358 -8.517)"><path class="a" d="M504.7,357.685c0-.015-.009-.029-.013-.044a.464.464,0,0,0-.016-.052.488.488,0,0,0-.026-.049c-.007-.013-.013-.027-.021-.04a.529.529,0,0,0-.065-.079l-5.483-5.483a.517.517,0,1,0-.731.731l4.6,4.6H491.51a.517.517,0,0,0,0,1.034h11.434l-4.6,4.6a.517.517,0,1,0,.731.731l5.483-5.483a.53.53,0,0,0,.065-.079c.009-.013.014-.026.021-.04a.491.491,0,0,0,.026-.049.466.466,0,0,0,.016-.052c0-.015.01-.029.013-.044A.514.514,0,0,0,504.7,357.685Z" transform="translate(521.144 -482.476) rotate(90)" /><line class="b" x2="11" transform="translate(157.858 24.827)" /></g>
                                        </svg>
                                    </span>
                                    </p>
                                    }
</a>
                                <div class="findRImg" style="background: url(@imageUrl); background-size:cover; background-position:center center; background-repeat:no-repeat;"></div>
                            </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>